<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="item">
      <h2 data-cy="itemDetailsHeading"><span jhiTranslate="testappApp.item.detail.title">Item</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ item.id }}</span>
        </dd>
        <dt><span jhiTranslate="testappApp.item.title">Title</span></dt>
        <dd>
          <span>{{ item.title }}</span>
        </dd>
        <dt><span jhiTranslate="testappApp.item.description">Description</span></dt>
        <dd>
          <span>{{ item.description }}</span>
        </dd>
        <dt><span jhiTranslate="testappApp.item.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'testappApp.ItemType.' + item.type }}">{{ item.type }}</span>
        </dd>
        <dt><span jhiTranslate="testappApp.item.content">Content</span></dt>
        <dd>
          <span>{{ item.content }}</span>
        </dd>
        <dt><span jhiTranslate="testappApp.item.tag">Tag</span></dt>
        <dd>
          <span *ngFor="let tag of item.tags; let last = last">
            <a [routerLink]="['/tag', tag?.id, 'view']">{{ tag.tag }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="testappApp.item.profile">Profile</span></dt>
        <dd>
          <div *ngIf="item.profile">
            <a [routerLink]="['/profile', item.profile?.id, 'view']">{{ item.profile?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="testappApp.item.categoru">Categoru</span></dt>
        <dd>
          <div *ngIf="item.categoru">
            <a [routerLink]="['/category', item.categoru?.id, 'view']">{{ item.categoru?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/item', item.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
